﻿@model DataLogic.BusinessObjects.Implementation.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Logowanie</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    @Html.EditorForModel()
    <p><input type="submit" value="zaloguj sie"/></p>
}
