﻿@model DataLogic.BusinessObjects.Implementation.ShippingDetails

@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>

@using (Html.BeginForm())
{
    <div> @Html.EditorFor(x=> x.Name)</div>
    <div> @Html.EditorFor(x => x.Line1)</div>
    <div> @Html.EditorFor(x => x.City)</div>
    <div> @Html.EditorFor(x => x.GiftWrap)</div>
    
    <p align="center">
        <input class="actionButtons" type="submit" value="Zakoncz zamawienie" />
    </p>
}

