﻿@model DataLogic.BusinessObjects.Implementation.CartIndexViewModel

@{
    ViewBag.Title = "Koszyk";
}

<h2>Twoj koszyk</h2>
<table width="90%" align="center">
   
    <thead>
        <tr>
            <th align="center">Ilosc</th>
            <th align="center">produkty</th>
            <th align="center">cena</th>
            <th align="center">wartosc</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
               
                <td align="center">@line.Quantity </td>
                <td align="left">@line.Product.Name</td>
                <td align="right">@line.Product.Price.ToString()</td>
                <td align="right">@((line.Quantity * line.Product.Price).ToString())</td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("productId", line.Product.ProductID)
                        @Html.HiddenFor(x => x.ReturnUrl);
                        <input class="actionButtons" type="submit" value="Usun" />
                    }
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" align="right">Razem:</td>
            <td align="right">
                @Model.Cart.ComputeTotalValue().ToString()
            </td>
        </tr>
    </tfoot>
</table>
<div align="center" class="actionButtons">
    <a href="@Model.ReturnUrl">Kontynuuj zakupy</a>
    @Html.ActionLink("Zamowienie", "Checkout")
</div>


