﻿@model DataLogic.BusinessObjects.Implementation.Cart

<div id="cart">
    <span class="caption">
        <b>Koszyk:</b>
        @Model.Lines.Sum(x => x.Quantity) sztuk
        @Model.ComputeTotalValue().ToString();
    </span>

    @Html.ActionLink("Zamow", "Index", "Cart", new { returnUrl = Request.Url.PathAndQuery }, null)
</div>