﻿body, td {
    font-family: 'Segoe UI', Verdana;
}

h1 {
    padding: 1.5em;
    padding-top: 0;
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: 2px solid gray;
}

div#content {
    padding: 0.9em;
}

table.grid td, table.grid th {
    border-bottom: 1px dotted gray;
    text-align: left;
}

table.grid {
    border-collapse: collapse;
    width: 100%;
}

    table.grid th.numericCol, table.grid td.numericCol {
        text-align: right;
        padding-right: 1em;
    }

form {
    margin-bottom: 0px;
}

div.message {
    background-color: gray;
    color: white;
    padding: 0.2em;
    margin-top: 0.25em;
}

.field-validator-error {
    color: red;
    display: block;
}

.field-validator-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid red;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: red;
}

.validation-summary-valid {
    display: none;
}

.editor-field {
    margin-bottom: 0.8em;
}

.editor-label {
    font-weight: bold;
}

    .editor-label ::after {
        content: ":";
    }

.text-box {
    width: 25em;
}

.multi-line {
    height: 5em;
    font-family: 'Segoe UI', Verdana;
}
