﻿/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers 
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}*/

body {
    font-family: Cambria,Georgia, "Times New Roman";
    margin: 0;
}

div#header div.title, div.item h3, div.item h4, div.pager a {
    font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial;
}

div#header {
    background-color: #444;
    border-bottom: 2px solid #111;
    color: white;
}

    div#header div.title {
        font-size: 2em;
        padding: .6em;
    }

div#content {
    border-left: 2px solid gray;
    margin-left: 9em;
    padding: 1em;
}

div#categories {
    float: left;
    width: 8em;
    padding: .3em;
}

div.item {
    border-top: 1px dotted gray;
    padding-top: .7em;
    margin-bottom: .7em;
}

    div.item:first-child {
        border-top: none;
        padding-top: 0;
    }

    div.item h3 {
        font-size: 1.3em;
        margin: 0 0 0.25em 0;
    }

    div.item h4 {
        font-size: 1.1em;
        margin: .4em 0 0 0;
    }

div.pager {
    text-align: right;
    border-top: 2px solid silver;
    padding: 0.5em 0 0 0;
    margin-top: 1em;
}

    div.pager a {
        font-size: 1.1em;
        color: #666;
        text-decoration: none;
        padding: 0.5em 0 0 0.5em;
        margin-top: 1em;
    }

        div.pager a:hover {
            background-color: silver;
        }

        div.pager a.selected {
            background-color: #353535;
            color: white;
        }

div#categories a {
    font: bold 1.1em "Arial Narrow","Franklin Gothic Medium", Arial;
    display: block;
    text-decoration: none;
    padding: 0.6em;
    color: black;
}

    div#categories a.selected {
        background-color: #666;
        color: white;
    }

    div#categories a:hover {
        background-color: #CCC;
    }

    div#categories a.selected:hover {
        background-color: #666;
    }

h2 {
    margin-top: 0.3em;
}

tfoot td {
    border-top: 1px dotted gray;
    font-weight: bold;
}

.actionButtons a, input.actionButtons {
    font: .8em Arial;
    color: white;
    margin: 0.5em;
    text-decoration: none;
    padding: 0.15em 1.5em 0.2em 1.5em;
    background-color: #353535;
    border: 1px solid black;
}

div #cart {
    float: right;
    margin: 0.8em;
    color: silver;
    background-color: #555;
    padding: 0.5em 0.5em 0.5em 1em;
}

    div #cart a {
        text-decoration: none;
        padding: 0.4em 1em 0.4em 1em;
        line-height: 2.1em;
        margin-left: 0.5em;
        background-color: #333;
        color: white;
        border: 1px solid black;
    }

form {
    margin: 0;
    padding: 0;
}

div.item form {
    float: right;
}

div.item input {
    color: white;
    background-color: #333;
    border: 1px solid black;
    cursor: pointer;
}
