﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Admin.css" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div>
        @if (TempData["message"] != null)
        {
            <div class="message">@TempData["message"] </div>
        }
        @RenderBody()
    </div>
</body>
</html>
