﻿@model DataLogic.BusinessObjects.Implementation.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit @Model.Name</h2>

@using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.EditorForModel()
    <div class="editor-label">Zdjecie</div>
    <div class="editor-field">
        @if (Model.ImageData == null)
        {
            @:Brak
	}
        else
        {
            <img width="150" height="150" src="@Url.Action("GetImage", "Product", new {Model.ProductID})" />
        }
        <div>Przeslij nowe zdjecie: <input type="file" name="Image" /></div>

    </div>

    <input type="submit" value="Zapisz" />
    @Html.ActionLink("Anuluj i wroc do listy", "Index");
}
