﻿@model IEnumerable<DataLogic.BusinessObjects.Implementation.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>ID</th>
        <th>nazwa</th>
        <th class="numericCol">cena </th>
        <th>Akcje</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductID</td>
       <td>
           @Html.ActionLink(item.Name, "Edit", new { item.ProductID})
       </td>
            <td>
                @using (Html.BeginForm("Delete", "Admin"))
                {
                    @Html.Hidden("ProductID", item.ProductID)
                    <input type="submit" value="Usun" />
                }
            </td>
    </tr>
    }

</table>
